@import "tailwindcss";

.btn {
  @apply px-4 py-2 bg-indigo-600 rounded hover:bg-indigo-500 font-semibold;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-6px);
  }
  50% {
    transform: translateX(6px);
  }
  75% {
    transform: translateX(-6px);
  }
}

.animate-shake {
  animation: shake 0.3s ease-in-out;
}
